In [158]:
import pandas as pd

In [159]:
movies_df = pd.read_csv('data/movies.csv')
movies_df.shape

(4803, 20)

In [160]:
movies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",19-05-2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",26-10-2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",16-07-2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",07-03-2012,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [161]:
credits_df = pd.read_csv('data/credits.csv')
credits_df.shape

(4803, 4)

In [162]:
credits_df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [163]:
movies_df = movies_df.merge(credits_df, on='title')
movies_df.shape

(4808, 23)

In [165]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4808 entries, 0 to 4807
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4808 non-null   int64
 1   genres                4808 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4808 non-null   int64
 4   keywords              4808 non-null   object
 5   original_language     4808 non-null   object
 6   original_title        4808 non-null   object
 7   overview              4805 non-null   object
 8   popularity            4808 non-null   float64
 9   production_companies  4808 non-null   object
 10  production_countries  4808 non-null   object
 11  release_date          4807 non-null   object
 12  revenue               4808 non-null   int64
 13  runtime               4806 non-null   float64
 14  spoken_languages      4808 non-null   object
 15  status                4808 non-null   object
 16  tagline               3964 non-null   object
 17  title                 4808 non-null   object
 18  vote_average          4808 non-null   float64
 19  vote_count            4808 non-null   int64
 20  movie_id              4808 non-null   int64
 21  cast                  4808 non-null   object
 22  crew                  4808 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.1+ KB

In [166]:
movies_df = movies_df[['movie_id', 'title', 'genres', 'overview', 'keywords', 'cast', 'crew']]
movies_df.shape

(4808, 7)

In [168]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4808 entries, 0 to 4807
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4808 non-null   int64
 1   title     4808 non-null   object
 2   genres    4808 non-null   object
 3   overview  4805 non-null   object
 4   keywords  4808 non-null   object
 5   cast      4808 non-null   object
 6   crew      4808 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [169]:
movies_df.isna().sum()

movie_id    0
title       0
genres      0
overview    3
keywords    0
cast        0
crew        0
dtype: int64

In [170]:
movies_df.dropna(inplace=True)

In [171]:
movies_df.duplicated().sum()

0

In [172]:
movies_df.shape

(4805, 7)

In [173]:
import ast
def get_all_name(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [174]:
movies_df['genres'] = movies_df['genres'].apply(get_all_name)
movies_df['keywords'] = movies_df['keywords'].apply(get_all_name)

In [175]:
movies_df.head()

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[Action, Adventure, Crime]",A cryptic message from Bond’s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,"[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca...","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [176]:
def get_3_name(obj):
    L = []
    count = 0
    for i in ast.literal_eval(obj):
        if count != 3:
            L.append(i['name'])
            count += 1
        else:
            break
    return L

In [177]:
movies_df['cast'] = movies_df['cast'].apply(get_3_name)

In [178]:
movies_df.head()

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[Action, Adventure, Crime]",A cryptic message from Bond’s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,"[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [179]:
def get_director_name(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [180]:
movies_df['crew'] = movies_df['crew'].apply(get_director_name)

In [181]:
movies_df.head()

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[Action, Adventure, Crime]",A cryptic message from Bond’s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,"[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [182]:
movies_df['overview'] = movies_df['overview'].apply(lambda x: x.split())

In [183]:
movies_df.head()

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[John, Carter, is, a, war-weary,, former, mili...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [184]:
movies_df['genres'] = movies_df['genres'].apply(lambda x: [i.replace(' ', '') for i in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x: [i.replace(' ', '') for i in x])
movies_df['cast'] = movies_df['cast'].apply(lambda x: [i.replace(' ', '') for i in x])
movies_df['crew'] = movies_df['crew'].apply(lambda x: [i.replace(' ', '') for i in x])

In [185]:
movies_df.head()

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[Action, Adventure, ScienceFiction]","[John, Carter, is, a, war-weary,, former, mili...","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [186]:
movies_df['tags'] = movies_df['genres'] + movies_df['overview'] + movies_df['keywords'] + movies_df['cast'] + movies_df['crew']

In [187]:
movies_df.head()

,movie_id,title,genres,overview,keywords,cast,crew,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction, I..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Adventure, Fantasy, Action, Captain, Barbossa..."
2,206647,Spectre,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[Action, Adventure, Crime, A, cryptic, message..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Action, Crime, Drama, Thriller, Following, th..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction]","[John, Carter, is, a, war-weary,, former, mili...","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[Action, Adventure, ScienceFiction, John, Cart..."

In [188]:
res_movies_df = movies_df[['movie_id', 'title', 'tags']]

In [189]:
res_movies_df.head()

,movie_id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, I..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, Captain, Barbossa..."
2,206647,Spectre,"[Action, Adventure, Crime, A, cryptic, message..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, Following, th..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, John, Cart..."

In [190]:
res_movies_df['tags'] = res_movies_df['tags'].apply(lambda x: ' '.join(x))
res_movies_df['tags'] = res_movies_df['tags'].apply(lambda x: x.lower())

C:\Users\minhh\AppData\Local\Temp\ipykernel_17108\988161698.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_movies_df['tags'] = res_movies_df['tags'].apply(lambda x: ' '.join(x))
C:\Users\minhh\AppData\Local\Temp\ipykernel_17108\988161698.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_movies_df['tags'] = res_movies_df['tags'].apply(lambda x: x.lower())

In [191]:
res_movies_df.head()

,movie_id,title,tags
0,19995,Avatar,action adventure fantasy sciencefiction in the...
1,285,Pirates of the Caribbean: At World's End,"adventure fantasy action captain barbossa, lon..."
2,206647,Spectre,action adventure crime a cryptic message from ...
3,49026,The Dark Knight Rises,action crime drama thriller following the deat...
4,49529,John Carter,action adventure sciencefiction john carter is...

In [192]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [193]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return ' '.join(y)

In [194]:
res_movies_df['tags'] = res_movies_df['tags'].apply(stem)

C:\Users\minhh\AppData\Local\Temp\ipykernel_17108\33768704.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_movies_df['tags'] = res_movies_df['tags'].apply(stem)

In [195]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1000, stop_words='english')

In [196]:
vectors = cv.fit_transform(res_movies_df['tags']).toarray()

In [197]:
vectors.shape

(4805, 1000)

In [199]:
cv.get_feature_names_out()

array(['000', '10', '1950', '1970', '3d', 'abandon', 'abus', 'accept',
       'accid', 'accident', 'act', 'action', 'actor', 'actual', 'adapt',
       'addict', 'adopt', 'adulteri', 'adventur', 'affair', 'affect',
       'africa', 'african', 'aftercreditssting', 'age', 'agent', 'ago',
       'agre', 'aid', 'airplan', 'alcohol', 'alex', 'alien', 'alive',
       'alli', 'allow', 'alway', 'america', 'american', 'ancient',
       'angel', 'angeles', 'ani', 'anim', 'anoth', 'answer', 'anyth',
       'apart', 'apocalypt', 'appear', 'arm', 'armi', 'arrest', 'arriv',
       'art', 'artist', 'ask', 'aspir', 'assassin', 'assign', 'assist',
       'astronaut', 'attack', 'attempt', 'attract', 'author', 'away',
       'babi', 'bad', 'band', 'bank', 'bar', 'base', 'basebal',
       'basedoncomicbook', 'basedonnovel', 'basedontruestori',
       'basedonyoungadultnovel', 'basketbal', 'battl', 'beach', 'bear',
       'beat', 'beauti', 'becaus', 'becom', 'befor', 'befriend', 'begin',
       'believ', 'belov', 'ben', 'benstil', 'berlin', 'best',
       'bestfriend', 'betray', 'better', 'big', 'biographi', 'birthday',
       'black', 'blackmail', 'blood', 'bodi', 'bomb', 'bond', 'book',
       'born', 'boss', 'box', 'boy', 'boyfriend', 'break', 'bring',
       'british', 'brother', 'brotherbrotherrelationship',
       'brothersisterrelationship', 'brucewilli', 'brutal', 'buddi',
       'build', 'busi', 'businessman', 'california', 'camp', 'cancer',
       'captain', 'captur', 'car', 'care', 'career', 'carri', 'case',
       'cast', 'cat', 'catch', 'caught', 'caus', 'celebr', 'center',
       'centuri', 'century', 'challeng', 'chanc', 'chang', 'charact',
       'charg', 'charli', 'chase', 'chicago', 'child', 'childhood',
       'children', 'china', 'christian', 'christma', 'church', 'cia',
       'citi', 'city', 'civil', 'claim', 'class', 'classic',
       'clinteastwood', 'close', 'club', 'coach', 'collect', 'colleg',
       'come', 'comedi', 'comic', 'comingofag', 'command', 'commit',
       'commun', 'compani', 'compet', 'competit', 'complet', 'complic',
       'comput', 'confront', 'connect', 'conspiraci', 'continu',
       'control', 'convict', 'convinc', 'cop', 'corpor', 'corrupt',
       'countri', 'country', 'coupl', 'courag', 'cours', 'court', 'cover',
       'crash', 'creat', 'creatur', 'crew', 'crime', 'crimin', 'cross',
       'crush', 'curs', 'dad', 'danc', 'dancer', 'danger', 'danni',
       'dark', 'date', 'daughter', 'david', 'day', 'dead', 'deadli',
       'deal', 'dealer', 'death', 'decid', 'deep', 'defeat', 'defend',
       'demand', 'demon', 'desert', 'desir', 'desper', 'despit',
       'destroy', 'detect', 'determin', 'develop', 'die', 'differ',
       'dinosaur', 'direct', 'director', 'disappear', 'discov',
       'discoveri', 'divorc', 'doctor', 'documentari', 'doe', 'doesn',
       'dog', 'don', 'door', 'dr', 'dragon', 'drama', 'drawn', 'dream',
       'drink', 'drive', 'driver', 'drug', 'drugdeal', 'dure',
       'duringcreditssting', 'dyinganddeath', 'dystopia', 'earli',
       'earth', 'east', 'eccentr', 'effort', 'elit', 'embark', 'emot',
       'encount', 'end', 'enemi', 'engag', 'england', 'english', 'enlist',
       'enter', 'entir', 'epic', 'escap', 'especi', 'estrang', 'eve',
       'event', 'eventu', 'everi', 'everyon', 'everyth', 'evil', 'ex',
       'execut', 'exist', 'experi', 'explor', 'explos', 'expos', 'extrem',
       'eye', 'face', 'fail', 'faith', 'fall', 'fame', 'famili', 'family',
       'famou', 'fantasi', 'far', 'farm', 'fast', 'fate', 'father',
       'fathersonrelationship', 'fbi', 'fear', 'featur', 'feel', 'fellow',
       'femal', 'femalenud', 'fiction', 'fight', 'fighter', 'figur',
       'film', 'filmmak', 'final', 'flashback', 'fli', 'florida',
       'follow', 'food', 'forc', 'foreign', 'forest', 'forever', 'form',
       'franc', 'frank', 'free', 'freedom', 'french', 'friend', 'friends',
       'friendship', 'funer', 'futur', 'future', 'game', 'gang',
       'gangster', 'gay', 'gener', 'georg', 'ghost', 'gift', 'girl',
       'girlfriend', 'global', 'god', 'goe', 'gold', 'gone', 'good',
       'gore', 'govern', 'graduat', 'great', 'greatest', 'green', 'group',
       'grow', 'grown', 'guard', 'gun', 'guy', 'ha', 'half', 'hand',
       'happen', 'happi', 'hard', 'harri', 'haunt', 'head', 'heart',
       'heist', 'helicopt', 'hell', 'help', 'henri', 'hero', 'hi', 'hide',
       'high', 'highschool', 'hip', 'hire', 'histori', 'hit', 'hitman',
       'hold', 'holiday', 'hollywood', 'home', 'hometown', 'hop', 'hope',
       'horror', 'hors', 'hospit', 'hostag', 'hot', 'hotel', 'hour',
       'hous', 'house', 'human', 'hunt', 'hunter', 'husband', 'ice',
       'idea', 'ident', 'ii', 'ill', 'immigr', 'includ',
       'independentfilm', 'india', 'indian', 'infidel', 'innoc', 'insid',
       'inspir', 'instead', 'intellig', 'intern', 'interview', 'inventor',
       'investig', 'invit', 'involv', 'irish', 'island', 'isn', 'isol',
       'jack', 'jackson', 'jail', 'jame', 'japan', 'jason', 'jealousi',
       'jean', 'jewish', 'jim', 'jimmi', 'job', 'joe', 'john', 'join',
       'journalist', 'journey', 'jungl', 'just', 'justic', 'kevin', 'key',
       'kid', 'kidnap', 'kids', 'kill', 'killer', 'king', 'kingdom',
       'knight', 'know', 'known', 'la', 'lake', 'land', 'late', 'later',
       'latest', 'law', 'lawyer', 'lead', 'leader', 'learn', 'leav',
       'led', 'lee', 'left', 'legend', 'legendari', 'letter', 'lie',
       'life', 'light', 'like', 'line', 'littl', 'live', 'lives', 'll',
       'lo', 'local', 'london', 'londonengland', 'lone', 'long', 'look',
       'lord', 'losangel', 'lose', 'lost', 'love', 'loveofone', 'lover',
       'luck', 'mad', 'mafia', 'magic', 'major', 'make', 'male', 'man',
       'manag', 'mani', 'mark', 'marri', 'marriag', 'martialart',
       'martin', 'marvelcom', 'mask', 'master', 'match', 'mattdamon',
       'max', 'mean', 'medic', 'meet', 'member', 'memori', 'men',
       'mental', 'mercenari', 'mexican', 'mexico', 'michael', 'middl',
       'mike', 'militari', 'million', 'mind', 'miss', 'mission', 'mob',
       'mobster', 'modern', 'mom', 'money', 'monster', 'month', 'mother',
       'mountain', 'movi', 'movie', 'mr', 'murder', 'music', 'musician',
       'mutant', 'mysteri', 'nation', 'natur', 'nazi', 'near', 'need',
       'neighbor', 'neighborhood', 'neo', 'new', 'newlov', 'newyork',
       'newyorkc', 'nick', 'nicolascag', 'night', 'nightclub', 'nightmar',
       'noth', 'notori', 'novel', 'nuclear', 'nuditi', 'number', 'obsess',
       'ocean', 'offer', 'offic', 'old', 'older', 'onc', 'onli', 'open',
       'oper', 'opportun', 'order', 'ordinari', 'organ', 'origin',
       'orphan', 'outlaw', 'overcom', 'owner', 'pair', 'pal', 'parent',
       'parents', 'pari', 'park', 'parti', 'partner', 'pass', 'passion',
       'past', 'path', 'paul', 'pay', 'peac', 'peopl', 'people',
       'perfect', 'perform', 'person', 'peter', 'photograph', 'pilot',
       'pirat', 'place', 'plan', 'plane', 'planet', 'play', 'player',
       'plot', 'point', 'polic', 'polit', 'politician', 'popular',
       'possess', 'possibl', 'post', 'power', 'pregnant', 'prepar',
       'present', 'presid', 'prevent', 'priest', 'princ', 'princess',
       'prison', 'privat', 'problem', 'process', 'produc', 'profession',
       'professor', 'program', 'promis', 'prostitut', 'protect', 'prove',
       'psychiatrist', 'psychopath', 'public', 'pull', 'pursu', 'queen',
       'quest', 'question', 'quickli', 'race', 'radio', 'rais', 'rape',
       'ray', 'reach', 'readi', 'real', 'realiti', 'realiz', 'realli',
       'rebel', 'receiv', 'recent', 'record', 'recov', 'recruit',
       'relationship', 'releas', 'remain', 'remak', 'remot', 'report',
       'rescu', 'research', 'resid', 'resist', 'respons', 'rest',
       'restaur', 'result', 'retir', 'return', 'reunit', 'reveal',
       'reveng', 'revenge', 'rich', 'richard', 'ride', 'right', 'ring',
       'rise', 'risk', 'rival', 'rivalri', 'road', 'rob', 'robberi',
       'robert', 'robertdeniro', 'robot', 'rock', 'role', 'romanc',
       'romant', 'romanticcomedi', 'room', 'rule', 'run', 'russian',
       'ruthless', 'ryan', 'safe', 'sam', 'samuell', 'san', 'save',
       'savingtheworld', 'scene', 'scheme', 'school', 'sciencefict',
       'scientist', 'scott', 'sea', 'search', 'season', 'second',
       'secret', 'secretident', 'secur', 'seek', 'seemingli', 'seen',
       'self', 'sell', 'send', 'sent', 'separ', 'sequel', 'seri',
       'serial', 'serialkil', 'serv', 'servic', 'set', 'seven', 'sever',
       'sex', 'sexual', 'share', 'shark', 'sheriff', 'ship', 'shock',
       'shootout', 'shop', 'shot', 'sign', 'sinc', 'singer', 'singl',
       'sister', 'sistersisterrelationship', 'situat', 'skill', 'slasher',
       'slave', 'slif', 'small', 'smalltown', 'snow', 'social', 'societi',
       'soldier', 'someth', 'son', 'soon', 'soul', 'south', 'space',
       'special', 'spend', 'spi', 'spirit', 'spoof', 'sport', 'stage',
       'stand', 'star', 'start', 'state', 'station', 'stay', 'steal',
       'step', 'steve', 'stolen', 'stop', 'store', 'stori', 'storm',
       'story', 'strand', 'strang', 'stranger', 'street', 'strike',
       'struggl', 'student', 'stumbl', 'success', 'suddenli', 'suffer',
       'suicid', 'summer', 'superhero', 'supernatur', 'superpow',
       'surpris', 'surviv', 'survivor', 'suspect', 'suspens', 'taken',
       'tale', 'talent', 'talk', 'target', 'task', 'teach', 'teacher',
       'team', 'technolog', 'teen', 'teenag', 'televis', 'tell',
       'terrifi', 'terror', 'terrorist', 'test', 'texa', 'themselv',
       'thi', 'thief', 'thing', 'think', 'thought', 'threat', 'threaten',
       'thriller', 'tim', 'time', 'timetravel', 'togeth', 'told', 'tom',
       'tortur', 'tough', 'tour', 'town', 'track', 'tragedi', 'train',
       'transform', 'transport', 'trap', 'travel', 'tri', 'trial', 'trip',
       'troubl', 'true', 'trust', 'truth', 'turn', 'tv', 'twin', 'ultim',
       'uncl', 'uncov', 'undercov', 'underground', 'underworld',
       'unexpect', 'unit', 'univers', 'unlik', 'usa', 'usapresid', 'use',
       'vacat', 'vampir', 'van', 'variou', 'veri', 'veteran', 'victim',
       'video', 'villag', 'villain', 'violenc', 'violent', 'virgin',
       'viru', 'visit', 'wa', 'wait', 'wake', 'walk', 'wall', 'want',
       'war', 'warrior', 'watch', 'water', 'way', 'wealthi', 'weapon',
       'wed', 'werewolf', 'west', 'western', 'white', 'widow', 'wife',
       'wifehusbandrelationship', 'wild', 'william', 'win', 'winter',
       'wish', 'wit', 'witch', 'woman', 'womandirector', 'women', 'won',
       'woodyallen', 'work', 'worker', 'world', 'worldwarii', 'writer',
       'wrong', 'year', 'years', 'york', 'young', 'younger', 'youth',
       'zombi'], dtype=object)

In [203]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [205]:
similarity.shape

(4805, 4805)

In [206]:
similarity[0]

array([1.        , 0.14638501, 0.14285714, ..., 0.07079923, 0.        ,
       0.        ])

In [207]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x: x[1])[1:6]

[(507, 0.5039526306789696),
 (1216, 0.43355498476205995),
 (151, 0.3947710169758614),
 (1194, 0.3944053188733077),
 (539, 0.39279220242478635)]

In [210]:
def recommend(movie):
    movie_index = res_movies_df[res_movies_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
    for i in movies_list:
        print(res_movies_df.iloc[i[0]].title)

In [220]:
recommend('Avatar')

Independence Day
Aliens vs Predator: Requiem
Beowulf
Small Soldiers
Titan A.E.

In [222]:
recommend('Iron Man')

Iron Man 3
X-Men
The Avengers
X2
X-Men: The Last Stand

In [223]:
recommend('Captain America: Civil War')

Captain America: The First Avenger
Iron Man 3
Iron Man
Avengers: Age of Ultron
Captain America: The Winter Soldier